/* Main Column Typography */

.section {
	padding: 0;
}


@media screen and (min-width: 767px) {

	.section {
		padding-left: 40px;
		padding-right: 40px;
	}

}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.container--fluid {
	max-width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


@media screen and (min-width: 767px) {

	.show-large {
		display: block;
	}

	.container--fluid {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 20px;
	}

}

@media screen and (min-width: 1023px) {

	.container {
		max-width: 1000px;
	}

	.container--fluid {
		max-width: 1000px;
	}

	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 1280px) {



	.container {
		max-width: 1200px;
	}
	
	.container--fluid {
		max-width: 1200px;
	}
}

.header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
	position: relative;
	&__title {
		margin: 0;
		font-weight: normal;
		font-size: 165%;
	}
	&__slogan {
		font-size: 90%;
	}
}
