/* Site Navigation */
.nav {
	margin-top: 20px;
	&__menu {
		display: block;
		font-size: 2em;
		position: absolute;
		padding: 0 15px;
		border-radius: 4px;
		top: 15px;
		right: 10px;
		@mixin atMedium{
			display: none;
		}
		
	}

	&__menu:hover{
		background-color: darkgray;
		color: white;
		cursor: pointer;
	}

	&__list{
		display: none;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		@mixin atMedium{
			display: block;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item{
		list-style: none;
		
		@mixin atMedium{
			width: calc(100%/3);
			margin-right: 0;
		}
		@mixin atLarge{
			width: auto;
			margin-right: 5px;
		}
	}

	&__link{
		display: block;
		color: #FFF;
		background-color: #365267;
		padding: 15px 0;
		text-align: center;
		@mixin atMedium{
			margin-right: 5px;
			margin-bottom: 5px;
		}
		@mixin atLarge{
			padding: 10px 20px;
			margin: 0px;
			text-align: center;
		}
	}

	&__link:hover{
		background-color: #2c465a;
	}
}


.menu-click {
	display: block;
}



